.title{
    font-size: 3.2rem;
    color: #EA2328;
    font-family: var(--heroes-font);
}

.containers{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.text{
    font-family: var(--main-font);
    color: var(--main-color);
}


/*input */
.input{
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-family: var(--main-font);
    background-color: #f9f9f9;

}

.container{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.flash{
    width: 8.5rem;
    height: auto;
}

.icon{
    display: flex;
    color: white;
    font-size: 2rem;
    
}


@media screen and (max-width: 768px){
    .right{
        display: none;
    }

    .container{
        margin-top: 1.5rem;
    }
}