.title{
    font-size: 4rem;
    color: #EA2328;
    font-family: var(--heroes-font);
}

.text{
    font-family: var(--main-font);
    color: var(--main-color);
}


/*input */
.input{
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-family: var(--main-font);
    background-color: #f9f9f9;

}

.container{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}