.container{
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(ellipse at 50% -20%, rgba(112, 111, 185, 0.217), rgba(255, 255, 255, 0));
    overflow-y: hidden;
}

.info-container{
    width: 70%;
    margin: 0 auto;
}

.rigth{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.header-icon{
    display: flex;
    font-size: 3rem;
    color: var(--main-color);
    padding: 3rem 0rem;
}

.image{
    max-width: 20rem;
    border: 4px solid white;
    height: 38vh;
    object-fit: cover;
}

.icon{
    cursor: pointer;
    color: white;
 
}

.middle-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 0.26fr));
    gap: 2.5rem;
    font-size: 3rem;
    color: var(--main-color);
    padding: 3rem 0rem;
}

.title{
    font-family: var(--heroes-font);
    font-size: 2rem;
}

.text{
    font-family: var(--main-font);
    margin-top: 1rem;
    color: var(--main-color);
    font-size: 1rem;
    line-height: 1.5rem;

}

@media(max-width: 768px){
    .image{
        max-width: 14rem;
        border: 4px solid white;
    }

    .middle-section{
       justify-items: center;
       justify-content: center;
    }

    
    .info-container{
        width: 85%;
        margin: 0 auto;
    }

    
}

@media(min-width: 769px)  and (max-width: 1024px){
    .image{
        max-width: 20rem;
        border: 4px solid white;
    }

    .middle-section{
       justify-items: center;
       justify-content: center;
    }

    
    .info-container{
        width: 85%;
        margin: 0 auto;
    }

 

    
}